input{
    width:100px; 
    height:80px; 
    background-color: coral; 
    color:yellowgreen ;
    font-size: 20px; 
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid green;
    border-radius: 5px;
}